/* Summer Colors Hexadecimal Code*/
/*Blue #53b2aa Orange #ebc057*/
.nav {
border: solid 0.5px black;
text-align: center;
font-family: 'Amatic SC';
background-color: black;
}

.nav a {
padding: 15px 30px;
font-size: 45px;
}

img.sun {
    min-width: 400px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.shadow img{
  box-shadow: 5px 10px #53b2aa;
}

.box a {
  color: #53b2aa;
}

.header img {
  /* display: flex;
  flex-wrap: wrap;
  align: left; */
  float: left;
  width: 300px;
  height: auto;
  padding-top: 20px;
}

/*Seasonal Cinema Main Title*/
h1 {
font-family: 'Amatic SC', cursive;
font-size: 60px;
display: inline-block;
padding-right: 20%;
}
/*Section Titles*/
h2 {
font-family: 'Amatic SC', cursive;
font-size: 50px;
color: black;
font-weight: bold;
text-align: center;
}

.flex1 {
text-align: center;
border: solid 0.5px black;
color: #53b2aa;
background-color: #f2e1d0;
}
a:visited {
color: white;
}

a {
text-decoration: none;
}

/* a:link {
color: white;
} */

a:active{
color: white;
}

img {
width: 220px;
height: 330px;
}

.flex{
  display: flex;
  border: solid 10px #53b2aa;
  background-color: #f2e1d0;
  width: inherit;
  flex-wrap: wrap;
}
.box{
  width: 300px;
  max-width: 00px
  height: 600px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  margin-left: 150px;
}
.container{
  flex-grow: 2;
}

.box h3 {
  font-family: 'Limelight', cursive;
}


@media screen and (max-width: 800px) {
.flex .box{
  flex-direction: column;
  width: 100%;
  margin-left: 50px;
}
