
/*most general at top*/

html, body {
	background-color: rebeccapurple;
}

h1 {
	font-size: 30px;
 	font-family: serif;
	font-style: bold;
	color: gold;
}

h2 {
	font-size: 20px;
	font-family: sans-serif;
	font-style: italic;
	color: silver;
}

p {
	font-size: 10;
 	font-family: "Times New Roman", "Times Roman", serif;
 	font-style: normal;
	color: white;
}
a {
	color: white;
	font-style: wavy;
}

#content {
	/*Modify the margins and padding of your content div*/
	margin: 50px;
	padding: 20px;
	/*Add a border */
	border: dashed 50px blue;
	/*Change the color of your body and your content div*/
	backround-color: yellow;
}

/*******************************/
/* Divided into useful sections*/
/*******************************/

	/*Style your image, and adjust the height or the width of your image*/
.feature-image {
	width: auto;
	height:auto;
	Margin: 10px;
	padding: 10px;
	background-color: articblue;
	float: right;
}

.feature-image img {
	max-width:100%;
	width: 100%;
}

/*******************************/
/* Divided into useful sections*/
/*******************************/

/* Most specific at bottom*/
