body {
  background-color: lightblue;
	font-family: san-serif;
	font-size: 15px;
}

h1 {
  color: white;
  text-align: center;
	font-size: 20px;
}

h2, h3 {
	color: Black;
	text-align: left;
	font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
max-width:600px;
float: left;
margin: 20px;
}

div#problems {
	background color: orange;
}

div#challenge {
	background color: red;
}

div#results {
	background color: yellow;
}

#bio-image {
width: 400px;
height: auto;
}

.content {
wigth: 50%
height: 100px
margin: 50px;
padding: 50px;
}

.content {
border-style: solid;
border-width: 50px;
border-color: lightgray;
background-color: lightblue;
border-radius:
}

.content {
outline: solid 6px #eeeeee;
}
