img {
	max-width: 200px;


}

html,body {
	background-color: rebeccapruple;
}

#content {
	/*Modify the margins and padding of your content div*/
	margin: 50px;
	padding: 20px;
	/*Add a border */
	border: dashed 50px blue;
	/*Change the color of your body and your content div*/
	backround-color: yellow;
	/*Style your image, and adjust the height or the width of your image*/
}
