
/*most general at top*/
body {
	background-image:
		radial-gradient(blue,black);
}

h1 {
	font-size: 150px;
 	font-family: serif;
	font-style: bold;
	color: white;
	border: 5px dotted #FF8D33;
	box-shadow: 1px black;
}

h2 {
	font-size: 80px;
	font-family: sans-serif;
	font-style: italic;
	color: white;
	text-shadow: -1px 0 black,
 0 1px black,
 1px 0 black,
 0 -1px black;
}

p {
	font-size: 30px;
 	font-family: "Times New Roman", "Times Roman", serif;
 	font-style: normal;
	color: white;
	border: 5px solid #FF8D33;
	width: 40%;
}

a {
	color: white;
	font-style: wavy;
}

/*******************************/
/* Divided into useful sections*/
/*******************************/

	/*Style your image, and adjust the height or the width of your image*/
.feature-image {
	position: absolute;
	transform: translateX(1000px);
	object-fit: cover;
}

.feature-image img {
	border-radius: 25px;
	filter: grayscale(1);
	width: 30%;
	height: auto;
}

/*******************************/
/* Divided into useful sections*/
/*******************************/

/* Most specific at bottom*/
