
/*most general at top*/

/*******************************/
/* Tag Edits */
/*******************************/

html, body {
	background-color: lightgray;
}

h1 {
	font-size: 30px;
 	font-family: serif;
	font-style: bold;
	color: Maroon;
}

h2 {
	font-size: 20px;
	font-family: sans-serif;
	font-style: italic;
	color: ;
}

p {
	font-size: 10;
 	font-family: "Times New Roman", "Times Roman", serif;
 	font-style: normal;
	color: white;
}

a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-style: normal;
}

/*******************************/
/* Margins and Padding */
/*******************************/

#content {
	/*Modify the margins and padding of your content div*/
	margin: 50px;
	padding: 20px;
	/*Add a border */
	border: dashed 10px yellow;
	/*Change the color of your body and your content div*/
	backround-color: yellow;
}

/*******************************/
/* Image Edits */
/*******************************/

	/*Style your image, and adjust the height or the width of your image*/
.feature-image {
	width: auto;
	height:auto;
	Margin: 10px;
	padding: 10px;
	background-color: articblue;
	float: right;
}

.feature-image img {
	max-width:100%;
	width: 100%;
}

/*******************************/
/* Classes and IDs */
/*******************************/

.sidebar {
	background color-: #ffe6b3
	font-family: anarchy;
}

. wide {
	letter-spacing: 3px;
}

. bodytext {
	word-spacing: 10px;
	line-height: 2em;
}
/*******************************/
/* Divided into useful sections*/
/*******************************/
/* Most specific at bottom*/
