/*******************************/
/* Content*/
/*******************************/

#content{
  max-width:100%;
  max-height: 1000px
}

/*******************************/
/*Bodyparagraph*/
/*******************************/

.bodyparagraph {
width: 30%;
border: solid 3px 100%,0,0,0;
color: white;
font-family: "Times-New-Roman";
height: 250px;
z-index: 1
}

#bodyparagraph {
float: left;
overflow:hidden;
}

/*******************************/
/*NineteenSixtyOne*/
/*******************************/

#nineteensixtyone {
text-align: center;
font-family: rubik;
font-style: bold;
font-size: 480px;
letter-spacing: -40px;
color: black;
z-index: 1;
right: 1300px;
position: fixed;
}

/*******************************/
/*Menu*/
/*******************************/

#menu {
align-content: center;
font-family: "Time-New-Roman";
font-size: 20px;
color: black;
z-index: 1;
bottom: 1250px;
right:2475px;
position: fixed;
padding: 10px;
}

/*******************************/
/*about*/
/*******************************/

#registrationofinterest {
align-content: center;
font-family:  "Times-New-Roman";
font-size: 20px;
color: black;
z-index: 1;
bottom: 1250px;
right:20px;
position: fixed;
padding: 10px;
}
