h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

p {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 50px;
  padding: 15px;
}

a:link{
  color:black;
}
.aside {
  border: solid 1px black;
  background-color: #f2e1d0;
  width: 25%;
  text-align: center;
  height: auto;

}

.flex2 {
 display: flex;
}

.main {
 width: 50%;
 height: auto;
 border: solid 1px black;
 text-align: center;
}

.main img {
width: 400px;
height: auto;
max-width: 100%;

}

.right {
   width: 25%;
   height: auto;
   border: solid 1px black;
   text-align: center;
}

.right a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.right img {
  display: inline;
}

.flex1 {
 text-align: center;
 border: solid 0.5px;
 color: black;
 background-color: #f2e1d0;
}

.nav {
  border: solid 0.5px black;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  background-color: #8e191c;
}

/* Social Media Buttons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background:#125688;
  color: white;
}

.fa-linkedin {
  background:#007bb5;
  color: white;
}
