.nav {
border: solid 0.5px black;
text-align: center;
font-family: 'Amatic SC';
background-color: black;
}

.nav a {
padding: 15px 30px;
font-size: 45px;
}

/*Seasonal Cinema Main Title*/
h1 {
font-family: 'Amatic SC', cursive;
font-size: 60px;
}
/*Section Titles*/
h2 {
font-family: 'Amatic SC', cursive;
font-size: 30px;
color: white;
font-weight: bold;
}

.flex1 {
text-align: center;
border: solid 0.5px;
color: black;
background-color: #f2e1d0;
}
